In [92]:
# git add Midterm.ipynb
# git commit -m "change"
# git push origin main

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

    
cpb = pd.read_csv('C:/Users/caglaraydin/OneDrive/Masaüstü/charles/Python/Midterm/JEM207-Midterm/CPB.csv',
                 sep=',',on_bad_lines='skip')  
el = pd.read_csv('C:/Users/caglaraydin/OneDrive/Masaüstü/charles/Python/Midterm/JEM207-Midterm/EL.csv',
                 sep=',',on_bad_lines='skip')  
ogn = pd.read_csv('C:/Users/caglaraydin/OneDrive/Masaüstü/charles/Python/Midterm/JEM207-Midterm/OGN.csv',
                 sep=',',on_bad_lines='skip')  
vno = pd.read_csv('C:/Users/caglaraydin/OneDrive/Masaüstü/charles/Python/Midterm/JEM207-Midterm/VNO.csv',
                 sep=',',on_bad_lines='skip')  
xel = pd.read_csv('C:/Users/caglaraydin/OneDrive/Masaüstü/charles/Python/Midterm/JEM207-Midterm/XEL.csv',
                 sep=',',on_bad_lines='skip')  
cpb.head()
print(cpb.info())
print(cpb.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1259 entries, 0 to 1258
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       1259 non-null   object
 1   High       1259 non-null   float64
 2   Low        1259 non-null   float64
 3   Open       1259 non-null   float64
 4   Close      1259 non-null   float64
 5   Volume     1259 non-null   float64
 6   Adj Close  1259 non-null   float64
dtypes: float64(6), object(1)
memory usage: 69.0+ KB
None
              High          Low         Open        Close        Volume  \
count  1259.000000  1259.000000  1259.000000  1259.000000  1.259000e+03
mean     45.181025    44.188292    44.676497    44.690000  2.725558e+06
std       4.702805     4.595831     4.649478     4.647331  1.920526e+06
min      32.880001    32.029999    32.220001    32.259998  4.206000e+05
25%      41.705000    40.914999    41.335001    41.355000  1.712050e+06
50%      46.299999    45.310001    45.779999    45.770000  2.252000e+06
75%      48.865000    47.860001    48.375000    48.400002  3.091150e+06
max      57.540001    53.259998    53.720001    53.840000  3.068820e+07

         Adj Close
count  1259.000000
mean     41.373818
std       5.395424
min      28.368029
25%      36.994963
50%      42.451672
75%      45.458221
max      52.910000

In [102]:
#PART 1 Q1
cpb.columns
#cpb['Close']==cpb['Adj Close']
#el['Close']==el['Adj Close']
#ogn['Close']==ogn['Adj Close']
#vno['Close']==vno['Adj Close']
#xel['Close']==xel['Adj Close']
#OGN seems to have no difference between close and adjusted close values

0       False
1       False
2       False
3       False
4       False
        ...
1254     True
1255     True
1256     True
1257     True
1258     True
Length: 1259, dtype: bool

In [88]:
#PART 1 Q2
print(cpb['Adj Close'].max())
print(cpb['Adj Close'].min())
print(el['Adj Close'].max())
print(el['Adj Close'].min())
print(ogn['Adj Close'].max())
print(ogn['Adj Close'].min())
print(vno['Adj Close'].max())
print(vno['Adj Close'].min())
print(xel['Adj Close'].max())
print(xel['Adj Close'].min())

52.90999984741211
28.36802864074707
371.0988464355469
119.33992004394533
39.36000061035156
23.309999465942383
63.30339813232422
21.09000015258789
77.41000366210938
38.39510726928711

In [111]:
#PART 1 Q3
#cpb
cpb_log = cpb['Adj Close'].apply(lambda x: np.log(x))

print(cpb_log.describe())
#el
el_log = el['Adj Close'].apply(lambda x: np.log(x))

print(el_log.describe())
#ogn
ogn_log = ogn['Adj Close'].apply(lambda x: np.log(x))

print(ogn_log.describe())
#vno
vno_log = vno['Adj Close'].apply(lambda x: np.log(x))

print(vno_log.describe())
#xel
xel_log = xel['Adj Close'].apply(lambda x: np.log(x))

print(xel_log.describe())

count    1259.000000
mean        3.713649
std         0.136295
min         3.345263
25%         3.610782
50%         3.748366
75%         3.816794
max         3.968592
Name: Adj Close, dtype: float64
count    1259.000000
mean        5.308556
std         0.320797
min         4.781976
25%         5.016754
50%         5.282656
75%         5.588894
max         5.916468
Name: Adj Close, dtype: float64
count    379.000000
mean       3.463414
std        0.117196
min        3.148882
25%        3.394844
50%        3.485539
75%        3.550622
max        3.672750
Name: Adj Close, dtype: float64
count    1259.000000
mean        3.795781
std         0.263151
min         3.048799
25%         3.589135
50%         3.813133
75%         4.027849
max         4.147939
Name: Adj Close, dtype: float64
count    1259.000000
mean        4.065299
std         0.191531
min         3.647930
25%         3.912261
50%         4.127184
75%         4.215774
max         4.349116
Name: Adj Close, dtype: float64

In [189]:
# PART 1 Q4
#cpb['Low']
#cpb['Low'].min()

In [115]:
# PART 1 Q5
print(cpb['Volume'].mean())
print(el['Volume'].mean())
print(ogn['Volume'].mean())
print(vno['Volume'].mean())
print(xel['Volume'].mean())

2725557.823669579
1631506.9896743447
2210159.6306068604
1586441.1437648928
3233399.5234312946

In [194]:
# PART 1 Q6
#cpb['Adj Close'].max()

KeyError: 'Adj Close'

In [192]:
cns = pd.read_csv('C:/Users/caglaraydin/OneDrive/Masaüstü/charles/Python/Midterm/JEM207-Midterm/companies_no_subindustry.csv',
                 sep=',',on_bad_lines='skip')  
cns.head()
cns.columns

Index(['Symbol', 'Security', 'GICS_Sector', 'hq', 'included', 'Founded'], dtype='object')

In [193]:
#PART 2 Q1
cns['included'].isnull().count() # 503 companies

503

In [152]:
#PART2 Q2
cns['included'].dropna()


print(cns[cns['Founded']==cns['Founded'].min()]) #oldest: BK

print(cns[cns['Founded']==cns['Founded'].max()]) #youngest: WBD

"\nprint(cns[cns['Founded']==cns['Founded'].min()]) #oldest: BK\n\nprint(cns[cns['Founded']==cns['Founded'].max()]) #youngest: WBD\n"

In [188]:
#PART 2 Q3
#cns_plot=cns.groupby('GICS_Sector')


#plt.pie(cns_plot)

In [170]:
#PART 2 Q4
#cns['hq'].replace(columns={})

0        Saint Paul, Minnesota
1         Milwaukee, Wisconsin
2      North Chicago, Illinois
3      North Chicago, Illinois
4       Danvers, Massachusetts
                ...
498       Louisville, Kentucky
499     Lincolnshire, Illinois
500            Warsaw, Indiana
501       Salt Lake City, Utah
502     Parsippany, New Jersey
Name: hq, Length: 503, dtype: object

In [175]:
#PART 2 Q5
cs = pd.read_csv('C:/Users/caglaraydin/OneDrive/Masaüstü/charles/Python/Midterm/JEM207-Midterm/companies_subindustry.csv',
                 sep=',',on_bad_lines='skip')  
cns.merge(cs)

    Symbol                         subindustry
0      MMM            Industrial Conglomerates
1      AOS                   Building Products
2      ABT               Health Care Equipment
3     ABBV                     Pharmaceuticals
4     ABMD               Health Care Equipment
..     ...                                 ...
498    YUM                         Restaurants
499   ZBRA  Electronic Equipment & Instruments
500    ZBH               Health Care Equipment
501   ZION                      Regional Banks
502    ZTS                     Pharmaceuticals

[503 rows x 2 columns]